-- Fix 10: Tests de seguridad RLS para messages y tablas relacionadas
-- Ejecutar en Supabase SQL editor para auditar el estado actual

-- ============================================================
-- 1. VERIFICAR QUE RLS ESTÁ HABILITADO
-- ============================================================

SELECT
  tablename,
  rowsecurity AS rls_enabled,
  CASE WHEN rowsecurity THEN '✅ OK' ELSE '❌ FALTA HABILITAR' END AS estado
FROM pg_tables
WHERE schemaname = 'public'
  AND tablename IN (
    'messages',
    'typing_indicators',
    'conversation_summaries',
    'message_reactions'
  )
ORDER BY tablename;

-- ============================================================
-- 2. LISTAR TODAS LAS POLÍTICAS EN TABLAS DE MENSAJERÍA
-- ============================================================

SELECT
  tablename,
  policyname,
  cmd         AS operacion,
  permissive,
  qual        AS condicion_using,
  with_check  AS condicion_with_check
FROM pg_policies
WHERE schemaname = 'public'
  AND tablename IN (
    'messages',
    'typing_indicators',
    'conversation_summaries',
    'message_reactions'
  )
ORDER BY tablename, cmd, policyname;

-- ============================================================
-- 3. VERIFICAR QUE messages TIENE LAS 5 POLÍTICAS ESPERADAS
-- ============================================================

WITH expected_policies AS (
  SELECT unnest(ARRAY[
    'messages_select_participants',
    'messages_insert_sender',
    'messages_update_sender',
    'messages_update_recipient_read',
    'messages_delete_sender'
  ]) AS policyname
),
existing AS (
  SELECT policyname FROM pg_policies WHERE tablename = 'messages'
)
SELECT
  e.policyname,
  CASE WHEN x.policyname IS NOT NULL THEN '✅ existe' ELSE '❌ FALTA' END AS estado
FROM expected_policies e
LEFT JOIN existing x ON e.policyname = x.policyname;

-- ============================================================
-- 4. VERIFICAR TRIGGERS EN messages Y typing_indicators
-- ============================================================

SELECT
  trigger_name,
  event_object_table AS tabla,
  event_manipulation AS evento,
  action_timing      AS momento
FROM information_schema.triggers
WHERE trigger_schema = 'public'
  AND event_object_table IN ('messages', 'typing_indicators')
ORDER BY event_object_table, trigger_name;

-- ============================================================
-- 5. VERIFICAR FUNCIÓN RPC delete_conversation_messages
-- ============================================================

SELECT
  routine_name,
  security_type,
  CASE WHEN security_type = 'DEFINER' THEN '✅ SECURITY DEFINER' ELSE '⚠️ revisar' END AS estado
FROM information_schema.routines
WHERE routine_schema = 'public'
  AND routine_name IN (
    'delete_conversation_messages',
    'update_conversation_summary_fn',
    'cleanup_typing_on_send_fn',
    'cleanup_old_typing_fn'
  )
ORDER BY routine_name;

-- ============================================================
-- 6. VERIFICAR ÍNDICES CRÍTICOS
-- ============================================================

SELECT
  indexname,
  tablename,
  indexdef
FROM pg_indexes
WHERE schemaname = 'public'
  AND tablename IN ('messages', 'conversation_summaries')
  AND indexname IN (
    'idx_messages_sequence',
    'idx_messages_from_to_seq',
    'idx_messages_from_user_read',
    'idx_messages_from_to_read'
  )
ORDER BY tablename, indexname;

-- ============================================================
-- 7. DETECTAR MENSAJES HUÉRFANOS (from/to no existen en profiles)
-- ============================================================

SELECT COUNT(*) AS mensajes_huerfanos
FROM public.messages m
WHERE NOT EXISTS (SELECT 1 FROM public.profiles p WHERE p.id = m.from_user_id)
   OR NOT EXISTS (SELECT 1 FROM public.profiles p WHERE p.id = m.to_user_id);

-- ============================================================
-- 8. DETECTAR TYPING INDICATORS HUÉRFANOS (> 10 segundos)
-- ============================================================

SELECT COUNT(*) AS typing_huerfanos
FROM public.typing_indicators
WHERE created_at < NOW() - INTERVAL '10 seconds';

-- Limpiar si hay:
-- DELETE FROM public.typing_indicators WHERE created_at < NOW() - INTERVAL '10 seconds';
